<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head><title>Mis contratos</title></head>
<body>
<section layout:fragment="contenido">

    <h2>Mis contratos</h2>

    <p th:if="${#lists.isEmpty(contratos)}">
        Aún no tienes contratos.
    </p>

    <div th:each="c : ${contratos}">
        <h3 th:text="'Contrato #' + ${c.id}"></h3>
        <p>
            Trabajo: <strong th:text="${c.postulacion.trabajo.titulo}"></strong>
            &nbsp;|&nbsp;
            Estado: <strong th:text="${c.estado}"></strong>
            &nbsp;|&nbsp;
            Monto:
            <span th:text="'Q' + ${#numbers.formatDecimal(c.montoAcordado,1,2)}">
            </span>
        </p>
        <p>
            Empleador:
            <a th:href="@{/perfil/{id}(id=${c.postulacion.trabajo.empleador.id})}"
               th:text="${c.postulacion.trabajo.empleador.email}"></a>
            &nbsp;|&nbsp;
            Trabajador:
            <a th:href="@{/perfil/{id}(id=${c.postulacion.trabajador.id})}"
               th:text="${c.postulacion.trabajador.email}"></a>
        </p>
        <p>
            Inicio:
            <span th:text="${#temporals.format(c.fechaInicio,'dd/MM/yyyy')}"></span>
            <span th:if="${c.fechaFinEstimada != null}"
                  th:text="'| Estimado: ' + ${#temporals.format(c.fechaFinEstimada,'dd/MM/yyyy')}">
            </span>
        </p>
        <a th:href="@{/contratos/{id}(id=${c.id})}">Ver detalle</a>
        <hr/>
    </div>

</section>
</body>
</html>